@model CelebrateMeProto.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <dl class="row">
        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">@Model.Category</dd>

        <dt class="col-sm-3">Inventory</dt>
        <dd class="col-sm-9">@Model.Inventory</dd>

        <dt class="col-sm-3">Points</dt>
        <dd class="col-sm-9">@Model.Points</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
